<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test1">
    <classes>
      <class name="package2.Example1"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
    <classes>
      <class name="package2.Example2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
